.cover__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-align: center;
  padding-top: 32px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 267px;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 16px;
  }
}