.place__link-heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.70;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
  margin: 0 0 12px;
}

@media screen and (max-width: 768px) {
  .place__link-heading {
    line-height: 1;
  }
}